<h1>
  Tasks
  <%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe,new_task_path, :class=>'btn btn-success pull-right', :data=>{toggle:'modal',target:'#myModal'} %>
</h1>
<div class="row">
  <div class="col-sm-6">
    <table class="table tasks-list">
      <thead>
        <tr>
          <th colspan="2">Current Tasks</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'tasks' %>
      </tbody>
    </table>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>